/*
	Michael McNulty
	11/10/2021
	CSD 460 - Capstone in Software Development
	The code below was inspired by the original code located at https://github.com/buwebdev/youtunes, but was altered to fit the assignment and to work to the class needs.
*/

@charset "UTF-8";

.width-35 {
	width: 35%;
}

.icon-center {
	text-align: center;
}

.text-center {
	text-align: center;
}

.padding-top-50 {
	padding-top: 50px;
}